---
import Slide7 from '../assets/slide/31.png'
import Slide8 from '../assets/slide/32.png'
import Slide9 from '../assets/slide/33.png'
import Slide10 from '../assets/slide/34.png'
---

<div id="flash-container" class="flex flex-col items-center">
 <div id="flash-body" class="grid grid-cols-7 gap-2">
    <div id="flash-image" class="col-span-4">
        <img src={Slide7.src}  class="aspect-3/2 w-full h-auto object-cover rounded-2" />
    </div>
    <div id="flash-sub" class="border-2 col-span-3 grid grid-cols-2 gap-2">
        <div id="second-img" class="col-span-1 place-content-center justify-center"><img src={Slide8.src} class="aspect-6/5 w-full h-auto col-span-4 object-cover rounded-1" /></div>
        <div id="second-img" class="col-span-1 place-content-center justify-center"><img src={Slide9.src} class="aspect-6/5 w-full h-auto col-span-4 object-cover rounded-1" /></div>
        <div id="second-img" class="col-span-1 place-content-center justify-center"><img src={Slide10.src} class="aspect-6/5 w-full h-auto col-span-4 object-cover rounded-1" /></div>
        <div id="second-img" class="col-span-1 place-content-center justify-center"><img src={Slide10.src} class="aspect-6/5 w-full h-auto col-span-4 object-cover rounded-1" /></div>
    </div>
 </div>
</div>

<style>
    #flash-container {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #flash-body {
        width: 1440px;
        max-width: 100%;
        padding: 8pt;
        border-radius: 15px;
    }
    #flash-sub {
        border-radius: 10px;
    }
    #main-flash {
        background-color: rgba(255, 196, 204, 0.315);
        height: auto;
        border-radius: 10px;
    }
    #second-img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 5px;
        transition: transform .35s;
    }
    #second-img:hover {
        -ms-transform: scale(3.5);
            /* IE 9 */
        -webkit-transform: scale(1.14);
            /* Safari 3-8 */
        transform: scale(1.14);
        cursor: pointer;
    }
    #flash-image {
        overflow: hidden;
    }
    #flash-image img {
        transition: all .55s;
    }
    #flash-image:hover img {
        -ms-transform: scale(3);
            /* IE 9 */
        -webkit-transform: scale(1.2);
            /* Safari 3-8 */
        transform: scale(1.1);
        cursor: pointer;
    }
    img {
        border-radius: 8px;
    }
    
</style>