---
// Dùng getCollection được define tại product.config.ts
import { getCollection } from "astro:content";
import { Debug } from "astro:components";

const matches = import.meta.glob('../articles/products/*.md', { eager: true });
const products = Object.values(matches);


// Get all data 'src/articles/products/' entries
const allProducts = await getCollection('Products');

---

<!--
<ul>
		{allProducts.map((product) => 
		<li>
			<Debug {product} />
			<a href={product.permalink} target='_blank'>
				{product.title}
			</a>
		</li>)}
</ul> -->
<!-- Main Menu -->
    <Debug {products} />
     <div class="flex flex-col items-center">

            <div id="Menu" class="items-center shadow-xl">

				<ul class="flex items-start flex-wrap">
                    {products.map((product) =>

                        
                    <li id="Menu-items">
                        <a href={`/${product.url}`} target='_blank'>
                            {product.frontmatter.title}
                            class = ${{product.frontmatter.parent} ? {product.frontmatter.parent} : ""}
                        </a>
                    </li>

                    )}
                </ul>



                <ul class="flex items-start flex-wrap">
					<!-- Trang chủ -->
                    <li id="Menu-items">
						<a href="/">
							Trang chủ (Dynamics)
						</a>
					</li>
					<!-- có parent  -->
                    <ul id="Menu-items" class="drophover">
                        <a href="/products">
							Túi giấy Kraft
						</a>
                        <ul class="dropdown">

                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">
								<a href="">
									TÚI GIẤY KRAFT IN THEO YÊU CẦU
								</a>
							</li>

                        </ul>
                    </ul>
					<!-- Không có parent -->
                    <li id="Menu-items">
						<a href="/products">
							In nhanh
						</a>
					</li>

                </ul>

            </div> 
	
    </div>

<style>
    
    #Menu {
        width: 1440px;
        max-width: 100%;
        margin-top: 10px;
        border-radius: 5px;
    }
    #Menu-items {
        padding: 6pt;
        padding-right: 1.5rem;
    }
    #Menu-items a {
            font-size: 1.3rem;
    }
    
    .drophover {
        display: inline-block;
        float: left;
        overflow: auto;
        cursursor: pointer;
    }
    .dropdown {
        display: none;
        z-index: 999;
        cursursor: pointer;
    }
    .drophover:hover {
        background-color: aliceblue;
        transition: .35s, display .45s;
        cursursor: pointer;
    }
    
    .drophover:hover .dropdown{
        margin-top: 7pt;
        margin-left: -7pt;
        display: block;
        overflow: auto;
        position: absolute;
        max-width: 350px;
        background-color: aliceblue;
        padding: 15px;
        border-radius: 5px;
        transition: 0.35s, display .45s;
        cursursor: pointer;
    }
</style>