---
// Dùng getCollection được define tại product.config.ts
import { getCollection, render } from 'astro:content';
import { Debug } from "astro:components";
import { url } from "astro:schema";
import { LogsIcon } from '@lucide/astro';
// Get all data 'src/articles/products/' entries
const ProductsCol = await getCollection('blogCollection');
//const slide = await getCollection('slide');
//const matches = import.meta.glob('../articles/products/*.md', { eager: true });
//const products = Object.values(matches);

---

<!-- Main Menu <Debug {products} />-->
    
     <div class="flex flex-col items-center">

            <div id="Menu" class="items-center shadow-xl">

                <div id="MenuMobile" class="my-2">
                    <LogsIcon size="32" class="inline" />
                    <p class="inline pl-2">Menu</p>
                </div>
                <ul id="MenuCom" class="flex items-start flex-wrap">
					
                    <!-- Trang chủ -->
                    <li id="Menu-items">
						<a href="/">
							Trang chủ (Dynamics)
						</a>
					</li>
                            {ProductsCol.filter(product => product.data.parent === 'none').map((product) => 
                                <ul id="Menu-items" class="drophover">
                                <a href={`/products/${product.id}`} class="menitext">
                                    {product.data.title}
                                </a>
                                <ul class="bg-sky-500 drop">
                                    {ProductsCol.filter(productsub => productsub.data.parent === product.data.catergory ).map(
                                        productsub => 
                                        <li class="menitext flex min-w-[240px] flex-col gap-1 p-1.5">
                                            <a href={`/products/${productsub.id}`}>
                                                {productsub.data.title}
                                            </a>
                                        </li>
                                    )}
                                </ul>
                                </ul>
                            )
                            }
                    
                </ul>

            </div> 
	
    </div>

<style>
    
    #Menu {
        width: 1440px;
        max-width: 100%;
        margin-top: 10px;
        border-radius: 5px;
    }
    #MenuMobile {
        display: none;
    }
    #Menu-items {
        padding: 6pt;
        padding-right: 1.5rem;
    }
    #Menu-items a {
            font-size: 1.3rem;
    }
    
    .drophover {
        display: inline-block;
        float: left;
        overflow: auto;
        cursursor: pointer;
    }
    .drop {
        display: none;
        z-index: 999;
        cursursor: pointer;
    }
    .drophover:hover {
        background-color: aliceblue;
        transition: .35s, display .45s;
        cursursor: pointer;
    }
    
    .drophover:hover .drop{
        margin-top: 7pt;
        margin-left: -7pt;
        display: block;
        overflow: auto;
        position: absolute;
        max-width: 350px;
        background-color: aliceblue;
        padding: 15px;
        border-radius: 5px;
        transition: 0.35s, display .45s;
        cursursor: pointer;
    }

    @media screen and (max-width: 600px) {
        #Menu-items a {
            font-size: 1rem;
        }
        #Menu-items {
            background-color: aqua;
        }
        #MenuMobile {
            display: block;
            transition: all 0.5s;
        }
        #MenuMobile:hover {
            background-color: aqua;
            display: block;
        }
        #MenuCom {
            display: none;
        }
        #MenuMobile p{
            font-size: larger;
        }
    }
</style>